<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
   
    <!--  
    <groups>
        <run>
            <include name="high" />
             <exclude name="med" />
        </run>
    </groups> 
     
      -->  
     
    
     <listeners>
        <listener class-name="listeners.CustomListeners"></listener>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
      <listener class-name="listeners.ExtentReporterNG"/>
    </listeners>
   
     
  <test name="LoginTest">
    <classes>
      <class name="testNgLearning.OneLoginTest"/>
    </classes>
  </test> 
  
  
  
  
  <test name="ValidateButtonTest">
    <classes>
      <class name="testNgLearning.TwovalidateButtonTest"/>
    </classes>
  </test> 
  
  
  <test name="TestDependencies">
   <groups>
        <run>
            <include name="high" />
        </run>
    </groups> 
    <classes>
      <class name="testNgLearning.ThreeTestDependencies"/>
    </classes>
  </test> <!-- Test -->
  
  
  
</suite> <!-- Suite -->
